<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      
    }
    #form {
      padding: 10px;
      margin-top: 20px;
      min-width: 800px;
      min-height: 450px;
      background: #E9FFF9;
      display: flex;
      flex-direction: column;
      
      justify-content: space-around;
      border-radius: 15px;

    }
    #form h3 {
      text-align: center;
    }

    .form-control {
     
      display: flex;
      justify-content: space-between;
    }
    
    .form-right{
      
      
      width: 350px;
    }
    #show {
      padding: 5px 10px;
      background: #85C7F2;
      border-radius: 10px;
      display: flex;
    }
    #show #btn {
      width: 150px;
      border: none;
      font-size: 22px;
      background: #DBDBDB;
    }
    #show #btn:hover {
      cursor: pointer;
    }

    #show .password-zone {
      margin-left: 10px;
    }
    form * {
      margin: 5px;
    }

    .none {
      display: none;
    }
    

  </style>
  <title>密碼產生器</title>
</head>
<body>
  
  {{{body}}}
  
  
  <script src="/javascripts/main.js"></script>
</body>
</html>